<h1>Hola</h1>
<hr />

<div *ngIf="error$ | async as error">
  <p>Error: {{ error }}</p>
</div>
<ul>
  <li *ngFor="let rym of rym$ | async">
    <img [src]="rym.image" width="50" /> {{ rym.name }}
  </li>
</ul>

<nav>
  <button (click)="onPageChange(2)">Pagina 2</button>
  <button (click)="onPageChange(3)">Pagina 3</button>
  <button (click)="onPageChange(4)">Pagina 4</button>
  <button (click)="onPageChange(5)">Pagina 5</button>
  <button (click)="onPageChange(6)">Pagina 6</button>
  <button (click)="onPageChange(7)">Pagina 7</button>
</nav>
